<swiper-container
  slides-per-view="auto"
  (slidechange)="swiperSlideChanged($event)"
>
  <swiper-slide *ngFor="let expensesList of folders" class="m-2">
    <div class="card mb-3 w-100 mx-2 p-3 border-0 shadow">
      <div class="row g-0">
        <div
          class="col-12 mb-3 d-flex justify-content-between align-items-center"
        >
          <div class="swiper-folder-name-container">
            <ion-icon name="folder-open-outline"></ion-icon>
            {{ expensesList?.name }}
          </div>
          <div class="swiper-price-container">
            <span>{{ expensesList?.amount }} Fcfa</span>
          </div>
        </div>
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-10 swiper-description-container">
            {{ expensesList?.description }}
          </div>
          <div class="circle-article-pourcent rounded-circle">
            {{ expensesList?.expenseNumber }}
          </div>
        </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
