<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>

    <ion-title>{{group.name}}</ion-title>

    <ion-buttons slot="end" id="options">
      <ion-icon
        name="ellipsis-vertical-outline"
        color="danger"
        class="me-3"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-progress-bar [showProgressBar]="showProgressBar"></app-progress-bar>

  <div class="px-3">
    <ion-input
      mode="ios"
      fill="outline"
      class="tex-center"
      [(ngModel)]="group.name"
      placeholder="Enter text"
      label-placement="floating"
    ></ion-input>

    <div class="article-list-container">
      <ion-list mode="ios" class="mt-3">
        <ion-list-header>
          <ion-label>En cours</ion-label>
        </ion-list-header>
        <ion-item *ngIf="todo.length==0" lines="none" class="text-center">
          <ion-label class="text-muted"> Vous avez tout acheter ! </ion-label>
        </ion-item>
        <div *ngFor="let item of todo">
          <app-task-element
            [task]="item"
            [userTarget]="userTarget"
            (productChanged)="receiveChanging($event)"
          ></app-task-element>
        </div>
      </ion-list>

      <ion-list>
        <ion-list-header lines="inset">
          <ion-label mode="ios">Achetés</ion-label>
        </ion-list-header>
        <ion-item *ngIf="done.length==0" lines="none" class="text-center">
          <ion-label class="text-muted">
            Vous n'avez encore rien acheter !
          </ion-label>
        </ion-item>
        <div *ngFor="let item of done">
          <app-task-element
            [task]="item"
            [userTarget]="userTarget"
            (productChanged)="receiveChanging($event)"
          ></app-task-element>
        </div>
      </ion-list>
    </div>
  </div>

  <ion-popover trigger="options" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" [detail]="false" (click)="openAddProduct()"
            >Nouveau produit</ion-item
          >
          <ion-item
            [button]="true"
            [detail]="false"
            class="text-danger"
            (click)="isDelete()"
          >
            Supprimer</ion-item
          >
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
