ion-input.input-group,
ion-textarea.input-group {
  background-color: #fcfcfc;
  --padding-start: 0.5rem;
}

div.input {
  ion-button {
    ion-icon {
      font-size: 10px;
      color: #ccc;
    }
  }
}
ion-list-header {
  ion-label {
    font-size: 18px;
  }
}
div.list-min-height {
  min-height: 250px;
}
small {
  font-size: 14px;
}
