<ion-header collapse="condense" mode="ios">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon> Retour
      <!-- <ion-back-button text="Retour"></ion-back-button> -->
    </ion-button>

    <ion-title>{{group.name}}</ion-title>

    <ion-buttons slot="end" id="options">
      <ion-icon
        name="ellipsis-vertical-outline"
        color="danger"
        class="me-3"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-3">
    <div class="input">
      <ion-input
        mode="ios"
        size="small"
        [debounce]="1000"
        class="input-group mb-3"
        [(ngModel)]="group.name"
        (ionChange)="updateGroup()"
        placeholder="Saisissez le nom de la liste"
      ></ion-input>
      <ion-textarea
        mode="ios"
        [debounce]="1000"
        class="input-group mb-3"
        (ionChange)="updateGroup()"
        [(ngModel)]="group.description"
        placeholder="Saisissez une description"
      >
      </ion-textarea>
    </div>

    <div class="article-list-container">
      <div class="list-min-height">
        <ion-list mode="ios" class="animate__animated animate__fadeInUp mt-3">
          <ion-list-header>
            <ion-label class="d-flex justify-content-between"
              ><span>En cours</span>
              <small class="text-primary"> {{amount}} FCFA </small></ion-label
            >
          </ion-list-header>
          <ion-item *ngIf="todo.length==0" lines="none" class="text-center">
            <ion-label class="text-muted"> Vous avez tout acheter ! </ion-label>
          </ion-item>
          <div *ngFor="let item of todo">
            <app-task-element
              [task]="item"
              [userTarget]="userTarget"
              (productChanged)="receiveChanging($event)"
            ></app-task-element>
          </div>
        </ion-list>
      </div>
      <div class="list-min-height">
        <ion-list class="animate__animated animate__fadeInUp">
          <ion-list-header lines="inset">
            <ion-label mode="ios">Achetés</ion-label>
          </ion-list-header>
          <ion-item *ngIf="done.length==0" lines="none" class="text-center">
            <ion-label class="text-muted">
              Vous n'avez encore rien acheter !
            </ion-label>
          </ion-item>
          <div *ngFor="let item of done">
            <app-task-element
              [task]="item"
              [userTarget]="userTarget"
              (productChanged)="receiveChanging($event)"
            ></app-task-element>
          </div>
        </ion-list>
      </div>
    </div>
  </div>

  <ion-popover trigger="options" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" [detail]="false" (click)="openAddProduct()">
            <ion-icon name="add-outline" slot="start" size="small"></ion-icon>
            Nouveau produit
          </ion-item>
          <ion-item>
            <ion-icon
              name="pricetag-outline"
              slot="start"
              size="small"
            ></ion-icon>
            Epingler
          </ion-item>
          <ion-item
            [button]="true"
            [detail]="false"
            class="text-danger"
            (click)="isDelete()"
          >
            <ion-icon name="trash-outline" slot="start" size="small"></ion-icon>
            Supprimer
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
