<app-header [title]="'Groupes'"></app-header>

<ion-content>
  <app-progress-bar [showProgressBar]="showProgressBar"></app-progress-bar>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    pull-min="15"
  >
  </ion-refresher>
  <ion-card
    mode="ios"
    *ngFor="let expensesList of expensesLists"
    (click)="showDetails(expensesList)"
    class="animate__animated animate__fadeInUp"
  >
    <ion-row>
      <ion-col size="2" class="logoConainer">
        <ion-icon name="folder-open-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-card-subtitle>{{expensesList?.name}}</ion-card-subtitle>
        <span class="truncat-description">{{expensesList?.description}}</span>
        <div class="d-flex justify-content-end mt-1">
          <ion-text><strong>{{expensesList?.amount}} Fcfa</strong></ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-progress-bar
      value="{{'0.'+expensesLists?.percentage}}"
    ></ion-progress-bar>
  </ion-card>
</ion-content>
