<app-header [title]="'Groupes'"></app-header>

<ion-content>
  <ion-progress-bar
    *ngIf="showProgressBar"
    type="indeterminate"
    slot="fixed"
    mode="ios"
  ></ion-progress-bar>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="handleRefresh($event)"
    pull-min="10"
  >
  </ion-refresher>
  <ion-card
    mode="ios"
    *ngFor="let group of groups"
    class="animate__animated animate__fadeInUp"
  >
    <ion-row>
      <ion-col size="2" class="logoConainer">
        <ion-icon name="folder-open-outline" size="large"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-card-subtitle>{{group.name}}</ion-card-subtitle>
        <span class="truncat-description">{{group.description}}</span>
        <div class="d-flex justify-content-end mt-1">
          <ion-text
            ><strong>{{getTotalPrice(group.tasks)}} Fcfa</strong></ion-text
          >
        </div>
      </ion-col>
    </ion-row>
    <ion-progress-bar [value]="0.1"></ion-progress-bar>
  </ion-card>
</ion-content>
