<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons class="ms-2" slot="start">
      <ion-back-button text="Annuler"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="text-center mb-5">
    <h1 class="text-primary fw-bold">
      <lucide-icon name="rotate-3d"></lucide-icon> SpaceLab
    </h1>
  </div>
  <div class="ion-text-justify">
    Here's a small text description for the card content.
    <br />
    Découvrez toutes nos applicatios, utilisez votre compte afin d'interchanger
    vos données d'une application à une autre.
  </div>
</ion-content>
