<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons class="ms-2" slot="start">
      <ion-back-button text="Annuler"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-button
      fill="clear"
      slot="end"
      (click)="update()"
      [disabled]="!formGroup.valid"
      >OK</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center profile-content">
    <div class="profile border-bottom">
      <img src="assets/image/profile.png" alt="profile" />
    </div>
  </div>
  <form [formGroup]="formGroup" class="mt-3">
    <ion-list>
      <ion-item>
        <ion-input
          mode="ios"
          type="text"
          label="Nom"
          placeholder="Nom"
          labelPlacement="stacked"
          formControlName="lastName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          mode="ios"
          type="text"
          label="Prénom"
          placeholder="Prénom"
          labelPlacement="stacked"
          formControlName="firstName"
        ></ion-input>
      </ion-item>
      <ion-item disabled>
        <ion-input
          mode="ios"
          type="email"
          label="E-mail"
          placeholder="E-mail"
          [value]="user?.email"
          labelPlacement="stacked"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          mode="ios"
          type="tel"
          label="Téléphone"
          placeholder="Téléphone"
          formControlName="phone"
          labelPlacement="stacked"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
