<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-title>Nouvel article</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close('cancel')" [strong]="true">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-progress-bar [showProgressBar]="showProgressBar"></app-progress-bar>
  <form [formGroup]="formGroup" (ngSubmit)="create()">
    <ion-list>
      <ion-item>
        <ion-input
          type="text"
          label="Nom de la liste"
          labelPlacement="floating"
          formControlName="name"
          placeholder="Saisissez le nom de l'article"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="number"
          label="Nom de la liste"
          labelPlacement="floating"
          formControlName="price"
          placeholder="Saisissez le montant"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          fill="outline"
          [autoGrow]="true"
          label="Description"
          labelPlacement="floating"
          formControlName="description"
          placeholder="Entrez une description"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-select label="Ajouter à une liste" placeholder="liste">
          <ion-select-option *ngFor="let list of lists" [value]="list"
            >{{list.name}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="text-center button-group mt-3">
      <ion-button type="submit" size="medium" [disabled]="!formGroup.valid"
        >Créer</ion-button
      >
    </div>
  </form>
</ion-content>
