<app-header [title]="'memos'"></app-header>

<ion-content [fullscreen]="true">
  <app-progress-bar [showProgressBar]="showProgressBar"></app-progress-bar>
  <ion-refresher
    slot="fixed"
    pull-min="15"
    [disabled]="memos.length==0"
    (ionRefresh)="handleRefresh($event)"
  >
  </ion-refresher>

  <div
    class="d-flex justify-content-center align-items-center h-100"
    *ngIf="memos.length==0"
  >
    <div class="text-center">
      <div class="no-icon-container">
        <lucide-icon
          name="sticky-note"
          [strokeWidth]="1"
          color="#8c034e"
          [size]="125"
        ></lucide-icon>
      </div>
      <div>Aucun mémo.</div>
    </div>
  </div>

  <ion-card
    mode="ios"
    *ngFor="let memo of memos"
    (click)="openMemo(memo)"
    class="animate__animated animate__fadeInUp px-3 py-2"
  >
    <ion-card-subtitle>{{memo?.title}}</ion-card-subtitle>
    <span class="truncat-description">{{memo?.content}}</span>
    <div class="d-flex justify-content-end">
      <ion-text>
        <small>
          <strong>{{memo?.lastUpdateDate | date:'shortDate'}}</strong>
        </small>
      </ion-text>
    </div>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small" (click)="openMemo(memo)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
