<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start" fill="clear">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container-fluid vh-100 login-page-body">
    <div class="container-fluid login-form">
      <div class="logo">
        <img src="assets/image/logo/logo.png" alt="logo" />
      </div>
      <div>
        <ion-list>
          <ion-item>
            <ion-input
              mode="ios"
              type="text"
              label="Email"
              [(ngModel)]="email"
              placeholder="E-mail"
              label-placement="floating"
              fill="solid"
            ></ion-input>
          </ion-item>
        </ion-list>
        <div class="text-center mt-5 mb-3">
          <ion-button
            size="medium"
            type="submit"
            [disabled]="!utilService.isEmail(email)"
            >Se connecter</ion-button
          >
        </div>
        <div class="text-center">
          <span routerLink="/reset-password"
            >J'ai un code de réinitialisation</span
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
