<app-header [title]="'Accueil'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Salut</ion-title>
    </ion-toolbar>
  </ion-header>

  <h6 class="ms-3">23, Mai 2023</h6>
  <div class="mt-5">
    <ion-segment [scrollable]="true" mode="ios">
      <ion-segment-button *ngFor="let folder of folders" [value]="folder">
        <ion-label>{{folder.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list mode="ios" class="mt-3">
    <app-task-element
      *ngFor="let task of tasks"
      [task]="task"
    ></app-task-element>
  </ion-list>
</ion-content>
