<app-header [title]="'Accueil'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Salut</ion-title>
    </ion-toolbar>
  </ion-header>

  <h6 class="ms-3">{{today | date:'dd MMMM yyyy'}}</h6>
  <div class="mt-5">
    <app-swipper-slide [folders]="expensesLists"></app-swipper-slide>
  </div>

  <ion-list mode="ios" class="mt-3">
    <h6>Ajourd'hui</h6>

    <div class="text-center text-muted" *ngIf="products.length==0">
      Aucun produit à acheter aujoud'hui
    </div>
    <div *ngIf="products.length>0">
      <app-task-element
        *ngFor="let task of products"
        [task]="task"
      ></app-task-element>
    </div>
  </ion-list>
</ion-content>
