<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons class="ms-2" slot="start">
      <ion-back-button text="Annuler"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe</ion-title>
    <ion-button fill="clear" slot="end">OK</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="text-center icon-content">
    <ion-icon
      name="lock-open-outline"
      *ngIf="!formGroup.valid || !isSamePassword"
    ></ion-icon>
    <ion-icon
      name="lock-closed-outline"
      *ngIf="formGroup.valid && isSamePassword"
    ></ion-icon>
  </div>
  <div class="mt-3" [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-input
          mode="ios"
          type="text"
          labelPlacement="stacked"
          formControlName="oldPassword"
          label="Ancien mot de passe"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          mode="ios"
          type="text"
          labelPlacement="stacked"
          formControlName="newPassword"
          label="Nouveau mot de passe"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          mode="ios"
          type="password"
          labelPlacement="stacked"
          formControlName="confirmPassword"
          label="Confirmez le mot de passe"
        ></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
