/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Bootstrap import*/
@import "/node_modules/bootstrap/scss/bootstrap.scss";

/* Animate import*/
@import "/node_modules//animate.css/animate.css";
@import "~quill/dist/quill.snow.css";
:root {
  --primary: var(--ion-color-primary);
  --secondary: #012a36;
  --grey: #d9d9d9;
}

.text-primary {
  color: var(--primary) !important;
}

// Checkbox
ion-checkbox {
  --size: 20px;
  // --background-checked: var(--ion-color-primary); d9d9d9
  --checkbox-background-checked: #d9d9d9;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 1px solid #d9d9d9;
}
.animate__animated {
  --animate-duration: 0s;

  &:nth-child(1) {
    --animate-duration: 0.15s;
  }

  &:nth-child(2) {
    --animate-duration: 0.2s;
  }

  &:nth-child(3) {
    --animate-duration: 0.25s;
  }

  &:nth-child(4) {
    --animate-duration: 0.3s;
  }

  &:nth-child(5) {
    --animate-duration: 0.35s;
  }

  &:nth-child(6) {
    --animate-duration: 0.4s;
  }

  &:nth-child(7) {
    --animate-duration: 0.45s;
  }

  &:nth-child(8) {
    --animate-duration: 0.5s;
  }

  &:nth-child(9) {
    --animate-duration: 0.55s;
  }

  &:nth-child(10) {
    --animate-duration: 0.6s;
  }

  &:nth-child(11) {
    --animate-duration: 0.65s;
  }

  &:nth-child(12) {
    --animate-duration: 0.7s;
  }

  &:nth-child(13) {
    --animate-duration: 0.5s;
  }

  &:nth-child(14) {
    --animate-duration: 0.5s;
  }

  &:nth-child(15) {
    --animate-duration: 0.5s;
  }
}

/* CUSTOM TOAST */
.success-toast {
  --background: var(--secondary);
  --color: var(--ion-color-primary-contrast);
  --width: fit-content !important;
}

.error-toast {
  --background: var(--ion-color-primary);
  --color: var(--grey);
  --width: fit-content !important;
}

.button-group {
  width: 100%;
  justify-content: center;
  ion-button {
    width: 40%;
    height: 40px;
  }
}

/*DON CHECKBOX*/
ion-item.done {
  color: #d9d9d9;
}

div.no-icon-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ededed;
}
