<ion-tabs>
  <ion-tab-bar [translucent]="true" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="groups">
      <ion-icon aria-hidden="true" name="folder-open-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="openSearchPage()">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
